{% extends 'base.html' %}


{% block title %}
    О сайте
{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h1>Что это такое?...</h1>
            <p class="about">Я создал этот сайт в качестве доказательства самому себе, что я не зря учу программирование.</p>
            <p class="about">Это мой первый более-менее серьезный проект в качестве тематики которого я выбрал свой
                любимый жанр музыки.</p>
            <p class="about">По вопросам и предложениям тут <a href="https://vk.com/awfullled">click</a>, если такие будут конечно:)</p>
        </div>
    </div>
</div>
{% endblock %}