{% extends 'base.html' %}


{% block title %}
    Change password
{% endblock %}


{% block content %}
    <div class="container mt-5">
    <div class="row">
        <div class="col-md-3 col-sm-12 offset-md-5 register">
            <form class="form-signin" method="POST" action="/change_password">
                <div class="col-md-12 col-sm-12 offset-md-1">
                    <h2 class="form-signin-heading">Смена пароля</h2>
                </div>
                {% for field in form %}
                    {{ field.label() }}
                    <div>{{ field(class="form-control") }}</div>
                {% endfor %}
                <div class="col-md-12 col-sm-12 offset-md-4">
                    <button class=" mb-5 mt-2" type="submit">Сменить пароль</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}